<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Shop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header th:insert="user/header :: header"></header>
<div class="container">
  <div class="row">
    <div th:if="${orders.size()} < 1" class="emptyCart">
      <i class="bi bi-emoji-frown"></i>
      <p>Вы не сделали еще ни одного заказа</p>
      <form method="get" th:action="@{/user/products}">
        <button type="submit" class="btn_addProduct"></i>Вернуться к покупкам</button>
      </form>
    </div>
    <div th:if="${orders.size()} > 0">
      <h3>Список заказов:</h3>
      <div class="row list">
        <div class="inline_userListOrders headList">
          <div>Номер заказа</div>
          <div>Дата заказа</div>
          <div>Категория</div>
          <div>Фото</div>
          <div>Название</div>
          <div>Количество</div>
          <div>Сумма заказа</div>
          <div>Статус</div>
        </div>
        <div th:each="order : ${orders}" class="inline_userListOrders">
          <div th:text="${order.getNumber()}"></div>
          <div th:text="${#temporals.format(order.getDateOrder(), 'dd-MM-yyyy')}"></div>
          <div th:text="${order.getProduct().getCategory().getName()}"></div>
          <div><img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" width="90px"></div>
          <div th:text="${order.getProduct().getTitle()}"></div>
          <div th:text="${order.getCount()}"></div>
          <div th:text="${order.getPrice()} + ' ₽'"></div>
          <div th:text="${order.getStatus().toString()}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>