@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800;900;1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row > * {
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: Nunito, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f0f4fd;
}

h3 {
    color: #626262;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

header {
    display: flex;
    align-items: center;
    background: #f93943;
    width: 100%;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0, 0.11);
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    height: 45px;
}

.logo span {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    padding-left: 10px;
    vertical-align: middle;
}

.search_bg {
    display: flex;
    width: 450px;
    height: 44px;
    border-radius: 22px;
    background-color: #FEBD2E;
    vertical-align: middle;
}

.search {
    position: relative;
    width: 400px;
    height: 40px;
    padding: 0px 20px;
    color: #2c363a;
    font-size: 16px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    margin-top: 2px;
    margin-left: 2px;
    outline: none;
}

.icon_search {
    position: absolute;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 22px;
    padding-left: 11px;
    padding-top: 8px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_link {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 16px;
    height: 60px;
    text-decoration: none;
}

.menu_link:hover {
    color: #f93943;
    background-color: #fff;
}

.panel-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.panel-link i {
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 7px;
    font-size: 26px;
}

.i-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.i-link:hover {
    color: #f1ff22;
}

.reg {
    font-weight: bold;
    line-height: 18px;
    color: #000;
    display: inline-block;
    background: #f7f7f7;
    padding: 10px 18px;
    border-radius: 12px;
    text-decoration: none;
    margin-left: 30px;
}

.reg:hover {
    color: #000;
    background-color: #FEBD2E;
}

.logout {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: none;
}

.logout:hover {
    color: #f1ff22;
}

.logout i {
    margin-left: 8px;
}

.auth_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth_name {
    display: block;
    color: #fff819;
    font-size: 15px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.auth_role {
    display: block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 25px;
}

.button_addProduct {
    width: 175px;
    font-size: 18px;
    color: #fff;
    background: #2ac175;
    border: none;
    padding: 11px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.button_addProduct:hover {
    background: #329362;
}

.button_addProduct i {
    font-size: 20px;
    padding-right: 10px;
}

.h_add {
    width: 280px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
    margin-top: 35px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 0px auto;
    border-radius: 12px;
    border-top-left-radius: 0px;
    box-shadow: 0 2px 6px #152d6714;
    background-color: #fff;
    padding: 0px 30px;
}

.inline_listUsers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    border-top: 1px solid #ced8eb;
}

.list {
    margin-top: 10px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 2px 6px #152d6714;
    background-color: #fff;
}

.headList {
    height: 50px;
    background-color: #ced8eb;
    font-size: 15px;
    font-weight: bold;
}

.action {
    color: #777f8f;
    text-decoration: none;
}

.action i {
    vertical-align: middle;
    padding-right: 15px;
    font-size: 26px;
}

.action i:hover {
    color: #f93943;
}

.inline_listProducts {
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px 2fr 140px 100px;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid #ced8eb;
}

.inline_listOrders {
    display: grid;
    grid-template-columns: 150px 100px 100px 100px 2fr 100px 120px 100px 50px;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid #ced8eb;
}

.inline_userListOrders {
    display: grid;
    grid-template-columns: 150px 100px 100px 100px 2fr 100px 140px 140px;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid #ced8eb;
}

.text_infoPhoto {
    color: #f93943;
    margin: 15px 0;
}

.inline_inputFiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 30px;
}

.input_group {
    position: relative;
}

.input_group input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.input_group label {
    width: 160px;
    height: 160px;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed #cbcee1;
    border-radius: 5px;
    display: block;
    padding: 20px;
    transition: all 300ms ease;
    cursor: pointer;
    text-align: center;
}

.input_group label:hover {
    border: 2px dashed #f93943;
}

.input_group label i {
    color: #cbcee1;
    display: block;
    font-size: 42px;
    padding: 5px 0;
    transition: color 300ms ease;
}

.input_group label span {
    color: #cbcee1;
    font-weight: bold;
    transition: color 300ms ease;
}

.input_group label:hover i, .input_group label:hover .title_photo {
    color:#f93943;
}

.btn_img-delete:hover {
    background: #465CB8;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.err {
    color: #ff0920;
}

.btn_addProduct {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;
    padding-top: 4px;
    margin: 12px 0;
    text-transform: uppercase;
    background-color: #f93943;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fcfdff;
    box-shadow: #bb1119 0px 3px 0px 0px;
}

.btn_addProduct:hover {
    color: #f1ff22;
    cursor: pointer;
}

.btn_addProduct i {
    font-size: 20px;
    margin-right: 8px;
}

.uploaded_group {
    position: relative;
}

.uploaded_group label {
    width: 160px;
    height: 160px;
    background: #fff;
    border: 2px dashed #cbcee1;
    border-radius: 5px;
    display: block;
    padding: 20px;
    transition: all 300ms ease;
    text-align: center;
}

.uploadedPhoto {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn_img-delete {
    font-weight: 800;
    position: absolute;
    top: -14px;
    right: -15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100px;
    border: 1px solid #cbcee1;
    color: #111;
    background-color: #f0f4fd;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
}

.btn_img-delete:hover {
    color: #fff;
    background: #DF5030;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 55px;
    padding: 25px 0;
    background-color: #fcfdff;
    border: 1px #e5e5e5 solid;
    border-radius: 10px;
    box-shadow: #00001d38 0.1rem 0.1rem 0.5rem 0px;
}

.emptyCart i {
    font-size: 82px;
    color: #d7d7d7;
}

.emptyCart p {
    margin-top: 12px;
    font-size: 18px;
    color: #837777;
}

.inline_cart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
    justify-items: stretch;
    gap: 20px;
}

.panel_productsCart {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    background-color: #fcfdff;
    box-shadow: #00001d38 0.1rem 0.1rem 0.5rem 0px;
}

.hiddenEff {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.panel_preOrderCart {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #fcfdff;
    padding: 5px 25px;
    transition: all 0.5s;
}

.cart_productInfo {
    display: grid;
    grid-template-columns: 100px 1fr 110px 110px 35px;
    align-items: center;
    padding: 16px;
    gap: 20px;
    font-size: 16px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.cart_productSum {
    font-size: 15px;
    font-weight: bold;
}

.span_quantity {
    padding: 0 8px;
    font-size: 17px;
    font-weight: bold;
}

.btn_actionCart {
    color: #bb1119;
    font-size: 19px;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.btn_actionCart:hover {
    color: #465CB8;
}

.btn_actionPlus {
    color: #4abb36;
}

.btn_actionMinus {
    color: #bb1119;
}

.btn_actionDisable {
    color: #d0d5f3;
}

.cart_sumInfo {
    width: 100%;
    height:150px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #fcfdff;
    border-radius: 4px;
    box-shadow: #00001d38 0.1rem 0.1rem 0.5rem 0px;
}

.cart_sumInfoLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cart_sumInfoRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.cart_sumInfoTotal {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.btn_preOrder, .btn_Order {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-top: 4px;
    margin: 22px 0;
    text-transform: uppercase;
    background-color: #f93943;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fcfdff;
    box-shadow: #bb1119 0px 3px 0px 0px;
}

.btn_preOrder:hover, .btn_Order:hover {
    color: #f1ff22;
    cursor: pointer;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    margin: 40px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
    border-radius: 0.4rem;
    box-shadow: rgb(0 0 29 / 22%) 0.1rem 0.1rem 0.5rem 0px;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -5px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.card_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 314px;
}

.card_link {
    color: #111;
    text-decoration: none;
}

.card_link:hover, card_link:focus  {
    color: #111;
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 990px) {
    .product {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 980px) {
    .product {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn_Order {
    margin-top: 10px;
    margin-bottom: 25px;
}

.line-through {
    text-decoration: line-through;
}

.inline_infoOrder_col-4 {
    display: grid;
    grid-template-columns: 385px 1fr 1fr 200px;
    justify-items: stretch;
    gap: 20px;
}

.inline_infoOrder_col-3 {
    display: grid;
    grid-template-columns: 200px 3fr 200px;
    justify-items: stretch;
    gap: 20px;
}

.inline_infoOrder_col-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: stretch;
    gap: 20px;
}

.indent {
    margin-bottom: 35px;
}

.category_link {
    color: #626262;
    text-decoration: none;
}

.category_link:hover, .category_link:focus {
    color: #626262;
}

.inline_infoProduct {
    display: grid;
    grid-template-columns: 100px 500px 1fr;
    justify-items: stretch;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px #152d6714;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.product_preview-mini {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_preview-mini {
    border: 1px solid #f93943;
}

.product_preview {
    width: 460px;
    height: 460px;
    margin-bottom: 10px;
}

.product_price, .product_title {
    font-size: 34px;
    font-weight: bold;
}

.product_title {
    margin: 10px 0px 5px;
}

.product_description {
    font-size: 17px;
    text-align: justify;
    padding: 20px 10px 20px 0px;
}

.product_price_delivery {
    font-size: 15px;
    padding: 10px 0px 30px 0px;
}

.product_price_delivery span {
    color: #f93943;
    font-weight: bold;
}

.form_item {
    margin-top: 20px;
}

.form__item-label {
    display: block;
}

.form_item-field {
    margin-top: 7px;
}

.inline_add {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    justify-items: stretch;
    gap: 20px;
}

.select-field {
    font-size: 16px;
    color: #60678B;
    padding: 15px 15px;
    min-height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    resize: none;
    background: #F0F4FD;
    box-shadow: inset 0 0 0 1px #e2e6f2;
}

.textfield {
    font-size: 16px;
    color: #60678B;
    padding: 15px 25px;
    min-height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    resize: none;
    background: #F0F4FD;
    box-shadow: inset 0 0 0 1px #e2e6f2;
}

.form_actions {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.btn {
    min-width: 260px;
    min-height: 55px;
    border-radius: 100px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #DF5030;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: #FEBD2E;
    background: #465CB8;
}

.select-category, .input-filtering {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #60678B;
    padding: 15px 15px;
    min-height: 50px;
    width: 250px;
    border: none;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px #00001d38;
}

.panel-sorting-filtering {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    margin-left: -12px;
    margin-right: -12px;
}

.panel-sorting-filtering label {
    color: #464646;
}

.inline-filtering {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input-filtering {
    width: 150px;
}

.startN {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
}

.endN {
    border-radius: 0px;
    margin-left: -1px;
}

.go-filtering {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 54px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #00001d38;
    margin-left: -1px;
    cursor–ñ pointer;
}

.go-filtering i {
    font-size: 25px;
    color: rgba(118, 118, 145, 0.59);
}

.title_card {
    margin-top: 20px;
}
